assisted-service-client~=2.23.0
boto3~=1.28.11
dataclasses~=0.8
dpath~=2.1.6
fnv~=0.2.0
kubernetes~=18.20.0
opensearch-py~=1.1.0
python-dateutil~=2.8.2
python-json-logger~=2.0
requests~=2.31.0
retry~=0.9.2
sentry-sdk~=1.28
smart-open[s3]~=6.3.0
urllib3~=2.0.4
waiting~=1.4.1
wheel
